<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenido a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></a>
                </div>
                <form class="form" action="/" method="">
                    <input class="input" placeholder="Buscar productos, marcas... "></input>
                    <button type="submit" class="submit"><i class="fa fa-search"></i></button>
                </form>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav>
                <ul class="nav-left">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="nav-right">
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
        <section class="banner">
            <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
        </section>
        <main>
            <h1 class="titulo-form">Registro de Usuario</h1>
            <form id="registro" action="/" method="">
                <input type="text" placeholder="Nombre y apellido"></input></br>
                <input type="text" placeholder="Nombre de usuario" required></input></br>
                <input type="email" placeholder="E-mail" required></input></br></br>
                <label>Fecha de Nacimiento</label>
                <input type="date" placeholder="" required></input><i class="far fa-calendar"></i></br>
                <input type="text" placeholder="Domicilio"></input></br>
                <label>Perfil del Usuario</label></br>
                <input type="radio" name="perfil" value="comprar" requiered>Comprador</input>
                <input type="radio" name="perfil" value="vender" required>Vendedor</input></br></br>
                <label for="interes">Intereses</label></br>
                <input type="checkbox" name="interes" value="Electro">Electro</input></br>
                <input type="checkbox" name="interes" value="Moda">Moda</input></br>
                <input type="checkbox" name="interes" value="Hogar">Hogar</input></br>
                <input type="checkbox" name="interes" value="Juguetería">Juguetería</input></br>
                <input type="checkbox" name="interes" value="Vida Sana">Vida Sana</input></br></br>
                <label>Foto de Perfíl</label>
                <input type="file"></input></br>
                <input type="password" placeholder="Contraseña" required minlength="8"></input></br>
                <input type="password" placeholder="Confirmar Contraseña" required minlength="8"></input></br></br>
                <button type="reset" value="Borrar Todo">Borrar</button>
                <button type="submit" value="Registrar">Enviar</button>
            </form>
        </main>
        <footer>
            <div class="footer-container">
                <article class="footer-col">
                    <i class="fas fa-credit-card"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </article>
                <article class="footer-col">
                    <i class="fas fa-gift"></i>
                    <h3>Envío gratis desde los $ 2.500</h3>
                    <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>
                </article>
                <article class="footer-col">
                    <i class="fas fa-user-shield"></i>
                    <h3>Seguridad de principio a fin</h3>
                    <p>¿No te gusta? ¡Delvolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@</p>
                </article>
                <div class="copyright">
                    Copyright &copy; 1999-2020 MercadoLiebre S.R.L.
                </div>
            </div>
        </footer>
        
    </body>
</html>

